.form {
  max-width: 100%;
  display: flex;
  gap: 12px;
}

.form__text,
.form__button {
  border: 0;
  padding: 8px;
}

.form__button {
  cursor: pointer;
  font-size: 20px;
  background-color: #191933ad;
  color: #fff;
  border-radius: 50%;
}

.form__text {
  text-align: center;
  border-radius: 15px;
  color: #ffffff;
  background-color: #191933ad;
  flex-grow: 1;
}

.form__text:focus {
  outline: 0;
}

.err {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 4vh;
  color: #e41414;
}

.disable {
  color: rgb(75, 74, 73);
}
