.weather {
  width: 100%;
  height: 100vh;
  background-color: #010101;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
}


.weather-container {
  max-width: 1040px;
  padding: 10px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



