@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}



.clear-day {
    background-image: url('./img/clear-day.jpg');
  }
  
  .clear-night {
    background-image: url('./img/clear-night.jpg');
  }
  
  .partly-cloudy-day {
    background-image: url('./img/partly-cloudy-day.jpg');
  }
  
  .partly-cloudy-night {
    background-image: url('./img/partly-cloudy-night.jpg');
  }
  
  .rain {
    background-image: url('./img/rain.jpg');
  }
  
  .rain-night {
    background-image: url('./img/rain-night.jpg');
  }
  
  .snow {
    background-image: url('./img/snow.jpg');
  }
  
  .snow-night {
    background-image: url('./img/snow-night.jpg');
  }
  
  .fog {
    background-image: url('./img/fog.jpg');
  }
  
  .fog-night {
    background-image: url('./img/fog-night.jpg');
  }
  
  .wind {
    background-image: url('./img/wind.jpg');
  }
  
  .wind-night {
    background-image: url('./img/wind-night.jpg');
  }
  
  .cloudy {
    background-image: url('./img/cloudy.jpg');
  }
  
  .cloudy-night {
    background-image: url('./img/cloudy-night.jpg')
  }